@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');


body{
    text-align: center;
}

.pro{text-decoration: underline;}

h1{
    font-family: Pacifico, sans-serif;
    font-size: 4.625rem;    
    color: white;
    margin-top: 50px;
    
}   

h2{
    font-family:'Pangolin', cursive;
    font-size: 2.5rem;
    font-weight: normal;
    color: #276281;
    margin: 30px 30px 0px 30px;
    
}

h3{
    font-family: 'Pangolin', cursive;
    color: #276281;
    font-weight: 150;
    margin: 10px 0px;
}

    

p{
    font-family: 'Pangolin', cursive;
    line-height: 2;
    font-weight: 130;
    color: white;
}

a{
    margin: 10px 20px;
    color: white;
    text-decoration: none;
    line-height: 6;
    font-family: 'Pangolin', cursive;
}

a:hover{
    color: #113a50;
}



.top-container{
    border-radius: 2%;
    background-color: #fe7f39;

}
.middle-container{
    margin: 20px;
}

.footer{
    background-color:  #fe7f39;
    padding: 50px 10px 20px;
}


.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}
.skill-pic{
    width: 25%;
    float: left;
    margin-right: 30px;
}
.skill-pic-2{
    width: 25%;
    float: right;
}


.profile-pic{
    width: 70%;
    margin: 100px 0px 100px;
}

hr{
    border: dotted 7px  #113a50;
    border-bottom: none;
    width: 4%;    
    margin: 100px auto;
}
/* *********************************All-Buttons************************************* */
.contactme-btn {
    background:  #113a50;
    background-image: -webkit-linear-gradient(top,   rgb(244, 203, 40),  #113a50);
    background-image: -moz-linear-gradient(top,   rgb(244, 203, 40),  #113a50);
    background-image: -ms-linear-gradient(top,   rgb(244, 203, 40),  #113a50);
    background-image: -o-linear-gradient(top,   rgb(244, 203, 40),  #113a50);
    background-image: linear-gradient(to bottom,   rgb(244, 203, 40),  #113a50);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Montserrat,sans-serif;;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .contactme-btn:hover {
    background:  #113a50;
    background-image: -webkit-linear-gradient(top, #f5b40e, #db1111);
    background-image: -moz-linear-gradient(top, #f5b40e, #db1111);
    background-image: -ms-linear-gradient(top, #f5b40e, #db1111);
    background-image: -o-linear-gradient(top, #f5b40e, #db1111);
    background-image: linear-gradient(to bottom, #f5b40e, #db1111);
    text-decoration: none;
  }
  
  .link-btn :hover{
background-color: #113a50;
color: #ffffff;
}





.copy-write{
    color: whitesmoke;
    font-size: 0.75rem;
    padding-bottom: 20px 0;
}
.contact-me{
    width: 50%;
    margin: 50px auto 60px;
    background-color: rgba(254, 127, 57, 0.5);
    backdrop-filter: blur(5px);
    border-radius: 10%;
    padding: 5px;
}


#background-video {
  width: 100vw;
  height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }

.skill-row {
    background-color: rgba(254, 127, 57, 0.5);
    backdrop-filter: blur(5px);
  border-radius: 10%;
  padding: 50px;
}
.social-icon{
    margin: 30px;
    color: white;
}

.bi-chevron-compact-down{

    color: white;

}

.sentense{
    width: 50vw;
    height: 65vh;
}


 /* *****************************************Projects******************************** */

 .Project {
    background-color: rgba(254, 127, 57, 0.5);
    backdrop-filter: blur(25px);
    margin: 50px;
    border-radius: 40px;
}

ul, ol {
    list-style: none;
        color: #113a50;
}

.projectHead {
    color: #113a50;

}
.Project-h3, .Project-h2 {
    color: #ffffff;
}


.projectDescription{
margin: 25px 110px 5px 110px;    
color: #113a50;

}

.ProjectDescription strong {
    color: #062f45;
  }
  
.ProjectImage{
width: 50%;
}

.project-p{
    margin: 5px 110px 5px 110px; 
}

/* *****************************PageNotFound**************************************** */
.PageNotFound {
  background-image: url("../src/images/license-pic/5203299.jpg");
  background-size: 780px;
  background-repeat: no-repeat;
  height: 74vh;
  width: 100%;
color:#18202a;
background-color: #bd4f14;

} 
.PageNotFound-content{
  position: relative;
  left: 350px;
  top:35%;
  text-align: center;
  
}
.PageNotFound-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 100px;
}

.PageNotFound-btn{
  color: rgb(254, 254, 254);
  border: 1px solid black;
  text-decoration: none;
  padding: 8px;
  margin-top: 8px;
  border-radius: 15%;
}
  
.PageNotFound-btn:hover {
  background-color : #113a50;
  color: white;
}



/* Media Query for Mobile Devices */
@media (max-width: 767px) {  
    /* Adjustments for mobile devices */
    .sentense {
      width: 356px;
    height: 356px;
    }
    .profile-pic {
      max-width: 100px; 
      height: auto;
      margin: 30px 0px 0px;
    }
    .skills {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 5px;
      }
    
      .contact-me,
      .skill-row {
        width: 100%; 
        margin: 5px;
        padding: 15px;
      }
    
.contact-me {
    margin: 0 auto 15px; 
    text-align: center;
}
    .skill-pic,
    .skill-pic-2 {
      width: 40%;
      margin-bottom: 5px; 
    }

 /* *****************************************Projects******************************** */

 .Project {
  margin: 5px;
  border-radius: 40px;} 


.projectHead {
  font-size: 2.625rem;    
}

.Project-h3, .Project-h2 {
  font-size: 1.625rem;  
}
.project-p,
.projectDescription{
margin: 5px; 
}

.ProjectImage{
width: 100%;
}

 }


/* *****************************PageNotFound**************************************** */


/* Media Query for Mobile Devices */
@media (max-width: 768px) {
  .PageNotFound-title {
      font-size: 3vw; 
      font-weight: 1000;
      line-height: 1.2;
      color: #000000
    }
    .PageNotFound-p{
      color: #000000;
      font-weight: 1000;
    }
    .PageNotFound {
      background-image: url("../src/images/license-pic/5203299.jpg");
      align-items: center;
      background-size: cover;
      background-repeat: no-repeat;
      height: 50vh;
      width: 100%;
    }
    
    .PageNotFound-content {
      position: relative;
      text-align: center;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
    }
    
    .PageNotFound-btn {
      color: rgb(0, 0, 0);
      border: 1px solid black;
      text-decoration: none;
      padding: 4px 8px;
      margin-top: 4px;
      border-radius: 15%;
      display: inline-block;
    }
}

 
/* @media (min-width: 768px) and (max-width: 1023px) { */
  /* Adjustments for tablets */
  /* .sentense {
    width: 456px;
  height: 456px;
  }

  .profile-pic {
    max-width: 150px;
    height: auto;
    margin: 50px 0px 50px; 
  }

} */
